@font-face {
    font-family: 'allura';
    src: url('Allura-Regular.otf');
    font-weight: normal;
    font-style: normal;
}


*{
  margin:0;
  padding:0;
}

header{
  justify-content: center;
  text-align: center;
  color: white;
  width: 100%;
  height: 500px;
  overflow: hidden;
  background-size: cover;
}

.title{
  position: absolute;
  padding-top: 150px;
  top: 0px;
  width: 100%;
}

.mute{
  text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
  color: white;
  transition: all 0.5s ease;
  margin-right: 20px;
}

.mute:hover{
  cursor: pointer;
  color: red;
}

header h1, header h2{
  font-family: 'allura', verdana, arial, sans-serif;
  text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
  letter-spacing: 3px;
  opacity: 0.7;
  font-size: 5em;
}

footer{
  height: 150px;
  background-color: lightgrey;
  color: darkgrey;
  text-align: center;
}

footer h4{
  padding-top: 60px;
}

/* FORMULAIRE DE RECHERCHE */
#SearchForm{
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top:-100px;
}

#SearchForm a{
  margin:0;
  padding:0;
  border:none;
}

#small{
  color: white!important;
  text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}

#SearchForm div.input-group-addon:hover{
  cursor: pointer;
}

/* SECTION DE LA HOME */

.section{
  padding:0px !important;
  margin:0px;
}

.section img{
  max-width:100%;
}

.hover_section{
  cursor: pointer;
  position:absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background-color: rgb(173, 173, 173,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.title_section_hover{
  color: white;
  font-family: 'allura', verdana, Arial, sans-serif;
  text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
  font-size: 3em;
}


.photo_title{
    padding-top: 25px;
    text-align: center;
}

.photo_title h2{
  font-family: 'allura', verdana, arial, sans-serif;
  font-size: 5em;;
}

.photo-random img{
  padding: 5px;
  width: 400px!important;
  height: 300px!important;
}


/* MEDIA QUERIES DE L'ESPACE !!!!! */

@media screen and (max-width: 505px){
  .title{
    top: -100px;
    left: 0%!important;
  }
}

/* BARRE DE SCROLL */
.scroll_barre{
  background-color: rgb(173, 173, 173);
}

.scroll_barre:hover{
  cursor: pointer;
}
