@font-face {
    font-family: 'allura';
    src: url('Allura-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

*{
  margin:0;
  padding:0;
}

header{
  background-image: url('mariage/photos_charline/mairie/424-compressor.jpg');
  justify-content: center;
  text-align: center;
  color: white;
  width: 100%;
  height: 500px;
  overflow: hidden;
  background-size: cover;
}

.title{
  position: absolute;
  padding-top: 150px;
  top: 0px;
  width: 100%;
}

.mute{
  text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
  color: white;
  transition: all 0.5s ease;
  margin-right: 20px;
}

.mute:hover{
  cursor: pointer;
  color: red;
}

.admin{
  position: absolute;
  z-index: 1;
  right: 30px;
  top: 20px;
}

header h1, header h2{
  font-family: 'allura', verdana, arial, sans-serif;
  text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
  letter-spacing: 3px;
  opacity: 0.7;
  font-size: 5em;
}

footer{
  height: 200px;
  background-color: lightgrey;
  color: Black;
  text-align: center;
}

footer h4{
  padding-top: 60px;
}

/* FORMULAIRE DE RECHERCHE */
#SearchForm{
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top:-100px;
}

#SearchForm a{
  margin:0;
  padding:0;
  border:none;
}

#small{
  color: white!important;
  text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}

#SearchForm div.input-group-addon:hover{
  cursor: pointer;
}

#apropos{
  transition: all 0.5s ease;
}

#apropos:hover{
  cursor: pointer;
  color: #4285F4;
}

.popUp{
  padding: 18px;
  z-index: 50;
  border: .5px solid black;
  text-align: center;
  bottom: 65px;
  height: 60px;
  background-color: white;
  border-radius: 10px;
  position: absolute;
}

.arrowPopup{
  z-index:-1;
  top:28px;
  left: 5px;
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 43.3px 25px 0 25px;
  border-color: rgb(255, 255, 255) transparent transparent transparent;
}

/* LISTE AUTOCOMPLETION */

#resultSearch{
  list-style: none;
  position: relative;
  z-index: 2;
  display: none;
  background-color: white;
}

#resultSearch li{
  padding: 5px 5px 5px 10px;
}

#resultSearch li:hover{
  cursor: pointer;
  background-color: rgb(182, 227, 245);
}

/*********** SECTION DE LA HOME ******************/

.section{
  padding:0px !important;
  margin:0px;
}

.section img{
  max-width:100%;
}

.hover_section{
  cursor: pointer;
  position:absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background-color: rgb(173, 173, 173,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hover_section_photo{
  cursor: pointer;
  position:absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background-color: rgb(173, 173, 173,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.photo_section{
  cursor: pointer;
  position:absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background-color: rgb(173, 173, 173,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.title_section_hover{
  color: white;
  font-family: 'allura', verdana, Arial, sans-serif;
  text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
  font-size: 2em;
}

/**************** MINIATURE PHOTO **************************/

.photo_title{
    padding-top: 25px;
    text-align: center;
}

.photo_title h2{
  font-family: 'allura', verdana, arial, sans-serif;
  font-size: 5em;
}

h2{
  font-family: 'allura', verdana, arial, sans-serif;
}

.photo{
  padding: 5px !important;
  height: 300px!important;
  padding: 5px!important;
  background-color: black;
  text-align: center;
  box-shadow: inset 0px 0px 0px 5px white;
  overflow: hidden;
}

.photo img{
  max-width: 370px;
  height: 290px!important;
}

.photo:hover{
  cursor: pointer;
}

.message-best {
  padding: 5px;
}

.hover_photo{
  box-shadow: inset 0px 0px 0px 5px white;
  padding: 5px !important;
  height: 300px!important;
  overflow: hidden;
  cursor: pointer;
  position:absolute;
  width: 100%;
  top: 0;
  background-color: rgb(173, 173, 173,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.barre_miniature_hover{
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  padding: 5px !important;
  bottom: 0;
  position: absolute;
  z-index: 10;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fa-search-plus{
  color: rgb(172, 172, 172);
  text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}

.overflowHidden{
  max-height: 380px!important;
  overflow: hidden;
  padding-right: 0px!important;
  padding-left: 0px!important;
}

.btn-custom{
  margin: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72%;
  min-width: 10%;
  color: white;
  border-radius: 50%;
  transition: all 0.2s ease;
}

.btn-custom:hover{
  cursor: pointer;
  transform: scale(1.2);
  text-decoration: none;
  color: white;
}

.addToLike {
  background-color: grey;
}

.dislike {
  background-color: red;
}

.btn-download{
  background-color: rgb(61, 61, 202);
}

.btn-shareFb{
  background-color: #23527c;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #23527c;
  height: 50px!important;
  width: 50px;
  min-width: 50px;
  height: 70%;
}

.btn-shareFb:hover{
  transition: all 0.2s ease;
  cursor: pointer;
  transform: scale(1.2);
  text-decoration: none;
  color: white;
}

.text-info{
  display:none;
  position: relative;
  right: 10px;
}

/* SUPPLEMENT PAGE INDEX.PHP */
#space {
  padding-top: 110px;
}

/* SECTION COMMENTAIRE */
.commentarys {
  padding: 15px!important;
}

.no_commentary {
  margin: 15px 0;
  padding: 15px 0;
}

.nb_commentary{
  margin-bottom: 5px;
}

.nb_commentary .redNumber{
  color:  rgb(190, 0, 0);
  font-weight: bold;
}

#goToBottom {
  position: absolute;
  right: 50px;
  top: 50px;
  width: 2.3rem;
  height: 2.3rem;
  border: 2px outset rgb(0, 91, 175);
  background-color: white;
  border-radius: 5px;
  color: rgb(0, 91, 175);
  cursor: pointer;
  display:none;
}

#goToBottom i {
  font-size: 1.5rem;
}

#only_commentarys {
  box-shadow: 0px 0px 10px rgb(222, 245, 252);
  overflow: auto;
  padding: 0px 15px;
  max-height: 250px;
  background-color: rgb(222, 245, 252);
}

.commentary {
  border-top: 1px dashed black;
  margin-top: 5px;
  padding-top: 5px;
}

.commentary .username{
  color: rgb(0, 91, 175);
  font-size: 1.4rem;
  font-weight: bold;
  width: 100%;
  text-align: left;
}

.commentary .realname {
  font-size: 1rem;
  font-style: italic;
  position: relative;
  bottom: 2px;
}

#only_commentarys .commentary:nth-child(2) {
  border: none!important;
}

.commentary .content{
  color: black;
  font-size: 1.3rem;
  word-wrap:break-word;
  text-align: left;
}

.commentarys #content {
  resize: none;
}

.form_commentary label {
  width: 100%;
  margin: 10px 0 5px 0;
  text-align: left;
}

.form_commentary input, .form_commentary btn, .form_commentary textarea {
  width: 100%;
}

.commentary .date_time{
  color: rgb(119, 119, 119);
  font-size: 1.1rem;
  width: 100%;
  text-align: right;
  font-style: italic;
  margin-bottom: 5px;
}

.errorFormCommentary{
  margin: 15px 0;
  padding: 15px 0;
}

/* MEDIA QUERIES DE L'ESPACE !!!!! <= qui tue tout sur leurs passage !*/
@media screen and (min-width: 506px) and (max-width: 768px){

  .hover_photo{
    display: block!important;
    background: none;
    text-align: center;
    padding-top: 100px!important;
  }

  .hover_section{
    transition: none!important;
    display: block!important;
    background: inherit;
    text-align: center;
    margin-top: 20%;
  }

  .photo_section{
    transition: none!important;
    display: block!important;
    background: inherit;
    text-align: center;
    margin-top: 20%;
  }

  .hover_photo i.fa-search-plus{
    border: none;
    opacity: 0.4;
  }

  .barre_miniature_hover{
    transition: none!important;
    display: block!important;
  }

  .barre_miniature_hover .like{
    width: 20px;
    margin-top: 5px;
    margin-right: 65%;
    float: left;
  }

  .barre_miniature_hover .btn-download{
    width: 37px;
    margin-top: 5px;
  }

}

@media screen and (min-width: 421px) and (max-width: 505px){
  .title{
    top: -50px;
    left: 0%!important;
    font-size: 10px;
  }

  .message-best {
    font-size: 10px;
  }

  #SearchForm{
    margin-top: -100px;
  }

  #SearchForm small{
    display: none;
  }

  .form-group {
    width: 80% !important;
    position: relative;
    right: 10px;
  }

  .hover_section{
    transition: none!important;
    display: block!important;
    background: inherit;
    text-align: center;
  }

  .photo_section{
    transition: none!important;
    display: block!important;
    background: inherit;
    text-align: center;
    margin-top: 15%;
  }

  .hover_section h2{
    margin-top: 50px;
  }

  .hover_photo{
    display: block!important;
    background: none;
    text-align: center;
    padding-top: 100px!important;
  }

  .hover_photo i.fa-search-plus{
    border: none;
    opacity: 0.4;
  }

  .barre_miniature_hover{
    transition: none!important;
    display: block!important;
  }

  .barre_miniature_hover .like{
    width: 37px;
    margin-top: 5px;
    margin-right: 60%;
    float: left;
  }

  .barre_miniature_hover .btn-download{
    width: 37px;
    margin-top: 5px;
  }

}

/* BARRE DE SCROLL */
.scroll_barre{
  background-color: rgb(173, 173, 173);
}

.scroll_barre:hover{
  cursor: pointer;
}

/* MODAL PHOTO */

#myModal{
  text-align: center;
}

.modal-content{
  margin-top: 1%;
  display: inline-block;
}

#photoModal{
  max-height: calc(100vh - 100px);
  max-width: 100%;
}

.close{
  opacity: 1 !important;
  top: 20px;
  right: 25px;
  text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
  color: white;
  z-index: 10;
  position: absolute;
}

.close:hover{
  color: white !important;
}

p{
  font-family: 'allura', verdana, arial, sans-serif;
  font-size: 2em;
}

.barre_modal-btn{
  margin-top: 2%;
  display: flex;
  width: 100%;
  height: 65px;
  justify-content: space-around;
  align-items: center;
}

.btn-custom-modal{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72%;
  min-width: 50px;
  color: white;
  border-radius: 50%;
  transition: all 0.2s ease;
}

.btn-custom-modal:hover{
  cursor: pointer;
  transform: scale(1.2);
  text-decoration: none;
  color: white;
}

.text-info-modal-like{
  display: none;
  position: absolute;
  margin: 0 -20%;
}

.text-info-modal-download{
  display: none;
  position: absolute;
  margin: 0 18%;
}

/* PAGINATION MINIATURE */
.paginate_link {
  margin: 3px;
}

/*PAGINATION MODAL*/

#paginate_left{
  position: absolute;
  width: 8%;
  height: 97%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}

#paginate_left i{
  color: rgb(224, 224, 224);
}

#paginate_right i{
  color: rgb(224, 224, 224);
}

#paginate_right{
  position: absolute;
  right: 15px;
  top: 15px;
  width: 8%;
  height: 96.7%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}

#paginate_right:hover{
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.30);
}

#paginate_left:hover{
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.30);
}

@media screen and (max-width:420px){
  video{
    display: none;
  }

  .message-best {
    font-size: 10px;
  }

  .title_section_hover{
    font-size: 1.7em;
  }

  .title {
    padding-top: 200px;
    font-size: .6rem;
  }

  .form-group {
    width: 80% !important;
    position: relative;
    right: 10px;
  }

  .hover_section{
    transition: none!important;
    display: block!important;
    background: inherit;
    text-align: center;
  }

  .hover_section h2{
    margin-top: 50px;
  }

  .hover_photo{
    display: block!important;
    background: none;
    text-align: center;
    padding-top: 100px!important;
  }

  .hover_photo i.fa-search-plus{
    border: none;
    opacity: 0.4;
  }

  .barre_miniature_hover{
    transition: none!important;
    display: block!important;
  }

  .barre_miniature_hover .like{
    width: 37px;
    margin-top: 5px;
    margin-right: 60%;
    float: left;
  }

  .barre_miniature_hover .btn-download{
    width: 37px;
    margin-top: 5px;
  }

  .photo_section{
    display: block!important;
    background: inherit;
    text-align: center;
  }

  .photo_section h2{
    margin-top: 50px;
  }

  .photo_title{
    font-size: 10px;
  }

  header {
    background-image: url('mariage/photos_charline/mairie/424-compressor.jpg');
    background-position-x: -180px;
  }
}
