@font-face {
    font-family: 'allura';
    src: url('Allura-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

*{
  margin:0;
  padding:0;
}

header{
  background-image: url('mariage/photos_charline/mairie/424-compressor.jpg');
  justify-content: center;
  text-align: center;
  color: white;
  width: 100%;
  height: 500px;
  overflow: hidden;
  background-size: cover;
}

.title{
  position: absolute;
  padding-top: 150px;
  top: 0px;
  width: 100%;
}

.mute{
  text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
  color: white;
  transition: all 0.5s ease;
  margin-right: 20px;
}

.mute:hover{
  cursor: pointer;
  color: red;
}

.admin{
  position: absolute;
  z-index: 1;
  right: 30px;
  top: 20px;
}

header h1, header h2{
  font-family: 'allura', verdana, arial, sans-serif;
  text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
  letter-spacing: 3px;
  opacity: 0.7;
  font-size: 5em;
}

footer{
  height: 150px;
  background-color: lightgrey;
  color: Black;
  text-align: center;
}

footer h4{
  padding-top: 60px;
}

/* FORMULAIRE DE RECHERCHE */
#SearchForm{
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top:-100px;
}

#SearchForm a{
  margin:0;
  padding:0;
  border:none;
}

#small{
  color: white!important;
  text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}

#SearchForm div.input-group-addon:hover{
  cursor: pointer;
}

/* LISTE AUTOCOMPLETION */

#resultSearch{
  list-style: none;
  position: relative;
  z-index: 2;
  display: none;
  background-color: white;
}

#resultSearch li{
  padding: 5px 5px 5px 10px;
}

#resultSearch li:hover{
  cursor: pointer;
  background-color: rgb(182, 227, 245);
}

/* SECTION DE LA HOME */

.section{
  padding:0px !important;
  margin:0px;
}

.section img{
  max-width:100%;
}

.hover_section{
  cursor: pointer;
  position:absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background-color: rgb(173, 173, 173,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hover_section_photo{
  cursor: pointer;
  position:absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background-color: rgb(173, 173, 173,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.photo_section{
  cursor: pointer;
  position:absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background-color: rgb(173, 173, 173,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.title_section_hover{
  color: white;
  font-family: 'allura', verdana, Arial, sans-serif;
  text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
  font-size: 2em;
}


.photo_title{
    padding-top: 25px;
    text-align: center;
}

.photo_title h2{
  font-family: 'allura', verdana, arial, sans-serif;
  font-size: 5em;
}

h2{
  font-family: 'allura', verdana, arial, sans-serif;
}

.photo{
  padding: 5px !important;
  height: 300px!important;
  padding: 5px!important;
  background-color: black;
  text-align: center;
  box-shadow: inset 0px 0px 0px 5px white;
  overflow: hidden;
}

.photo img{
  max-width: 370px;
  height: 290px!important;
}

.photo:hover{
  cursor: pointer;
}

.hover_photo{
  box-shadow: inset 0px 0px 0px 5px white;
  display: none;
  padding: 5px !important;
  height: 300px!important;
  overflow: hidden;
  cursor: pointer;
  position:absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background-color: rgb(173, 173, 173,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-search-plus{
  color: rgb(104, 104, 104);
}

.overflowHidden{
  max-height: 380px!important;
  overflow: hidden;
  padding-right: 0px!important;
  padding-left: 0px!important;
}


/* MEDIA QUERIES DE L'ESPACE !!!!! <= qui tue tout sur leurs passage !*/

@media screen and (max-width: 505px){
  .title{
    top: -50px;
    left: 0%!important;
    font-size: 10px;
  }

  #SearchForm{
    margin-top: -100px;
  }

  #SearchForm small{
    display: none;
  }
}

/* BARRE DE SCROLL */
.scroll_barre{
  background-color: rgb(173, 173, 173);
}

.scroll_barre:hover{
  cursor: pointer;
}

/* MODAL PHOTO */
#myModal{
  text-align: center;
}

.modal-content{
  margin: 1% auto;
  display: inline-block;
}

#photoModal{
  max-height: calc(100vh - 100px);
  max-width: 100%;
}

/*PAGINATION MODAL*/

#paginate_left{
  position: absolute;
  width: 8%;
  height: 97%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}

#paginate_left i{
  color: rgb(224, 224, 224);
}

#paginate_right i{
  color: rgb(224, 224, 224);
}

#paginate_right{
  position: absolute;
  right: 15px;
  top: 15px;
  width: 8%;
  height: 96.7%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}

#paginate_right:hover{
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.30);
}

#paginate_left:hover{
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.30);
}

@media screen and (max-width:420px){
  video{
    display: none;
  }

  .title_section_hover{
    font-size: 1.7em;
  }
}
